body{
    background-color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bolder;
    font-display: swap;
}
h1{
    background-color:lavenderblush;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    

}